<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262278925503-d5kqmh05r5edjumponlunp41ms63unuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262278925503-d5kqmh05r5edjumponlunp41ms63unuv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262278925503-5mr8si5pjehap83qe4f7iovio1pd4ism.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9XkW7qqXEAdCBp5sBNYVAbu9a1OdhfvE</string>
	<key>GCM_SENDER_ID</key>
	<string>262278925503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twocommandments.glorify</string>
	<key>PROJECT_ID</key>
	<string>glorify-project</string>
	<key>STORAGE_BUCKET</key>
	<string>glorify-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262278925503:ios:ef47c845d8b5ca2dfb8a0a</string>
</dict>
</plist>